@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&display=swap');

body {
  background-color: white;
  background-image: url(https://besthqwallpapers.com/Uploads/17-9-2019/104580/vertical-wooden-boards-4k-brown-wooden-texture-wooden-backgrounds-wooden-textures.jpg);
  background-size: 100vw;
  background-attachment: fixed;
  font-family: 'Raleway';
  text-decoration: none;
}

// --------------------------
// VARIABLES
// --------------------------

@mixin formbookcolors {
  background-color: #47596f;
  color: #D7C8B4;
}

// --------------------------
// Header
// --------------------------

nav {
  display: flex;
  justify-content: center;
  background-color: #1b1b19;
  height: 7vh;
  margin: -8px;

  a {
    display: flex;
    align-items: center;
    div {
      color: #f7f7f7;
      font-family: 'Comfortaa';
      font-size: 2vw;
    }
  }
}

.subNav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #1b1b19;
  height: 4vh;
  border-top: 2px solid rgb(92, 86, 86);

  a {
    display: flex;
    align-items: center;


    div {
      color: #f7f7f7;
      font-size: 1vw;
      line-height: 2.45rem;
      padding: 0 1rem;
      font-family: 'Raleway';
    }

    div:hover {
      background-color: rgb(214, 214, 214);
    }
  }
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

// --------------------------
// Form
// --------------------------
section, div {
  form {
    margin: 10px 0 10px 0;
    input {
      @include formbookcolors;
      padding: 10px;
      font-size: 1.1em;
      margin: 10px;
      border-radius: 5px;
      &:hover{
        border: solid #02385A;
      }
    
  }
}
} 


button#delete {
  display: block;
  margin: auto;
  font-size: 1.0em;
  padding: 10px;
  border-radius: 5px;
  background-color: red;
  &:hover{
    border: solid darkblue 5px;
    padding: 5px;
    transition: 0.2s;
  }
}

//--------------------------
// Chowder Index
//--------------------------

main {
  display: flex;
  justify-content: center;
}

.chowder {
    border-radius: 20px;
    width: 20%;
    margin: 10px;
    padding: 12px 0 12px 0;
    background-color: rgba(0, 0, 0, 0.550);

    font-size: 10px;
    color: white;

    transition: transform 0.2s;
    &:hover {
     transform: scale(1.05); 
    }
}

span {
  font-size: larger;
}

.chowderList{
    display: flex;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;
    justify-content: center;
}

img {
  max-width: 300px;
}
